:root {
  --fsS: 10px;
  --fsM: 14px;
  --fsL: 18px;
  --fsCost: 22px;
  --fsXL: 25px;
}


*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding:0;
}


body {
  font-family: Arial, Helvetica, sans-serif;
}

.pageBody {
  display: grid;
  grid-template-columns: 30% 1fr;
  grid-template-rows: 1fr 10%;

  width: 21cm;
  height: 29.7cm;
  margin: 0 auto;
  margin-top: 0.5cm;
  margin-bottom: 1cm;
}

.pageSidebar {
  grid-column: 1/2;
  grid-row:1/2;

  display:grid;
  grid-template-rows: repeat(6,1fr);
  text-align: left;
  font-size:12px;
  padding-right:20px;
  padding-left:10px;
}

.pageSidebar__top {
  grid-row: 2/6;
  display: grid;
  gap:10px;
  grid-template-rows:auto;
}

.pageSidebar__top > div {
  display: flex;
  flex-direction: column;
}

.pageSidebar__top--title {
  display: flex;
  align-items: center;
  font-size: 16px;
  font-weight: bold;
  padding-bottom: 30px;
}

span[name="addCoName"] {
  padding-left: 5px;
  border-left: 3px solid black;
}

.sidebarTitle {
  font-size:14px;
  font-weight: bold;
  text-transform: uppercase;
  padding-bottom: 5px;
}

.pageMain {
  grid-column: 2/3;
  grid-row:1/2;
  display:grid;
  grid-template-rows: 1fr max-content 1fr;
  margin-right: 10px;

}

.pageMain__header {
  display: grid;
  grid-template-rows: 1fr 1fr 2fr;
}

.pageMain__header--tile {
  /* text-transform: uppercase; */
  font-size: 22px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
}

.pageMain__header--details  {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-right: 10px;
}

.pageMain__header--details-title {
  font-size: var(--fsM);
  font-weight: bold;
  text-transform: uppercase;
  padding-bottom: 3px;
}

.pageMain__header--details-address {
  font-size: var(--fsM);
}

.pageMain__header--costs {
  grid-row: 3/4;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  place-content: space-around;
  text-align: center;
}

.pageMain--costBox-title {
  font-size: 12px;
  font-weight: bold;
  padding-bottom: 10px;
  text-transform: uppercase;
}

.pageMain--costBox {
  display: block;
  border: 1px dashed black;
  width: 250px;
  padding: 10px 10px;
  text-align: center;
  font-size: 18px;
}

.pageMain__text {
  display: flex;
  flex-direction: column;
  text-align: justify;
  margin: 0 15px 0 5px;
  line-height: 1.4;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 14px;
}

.pageMain__text > p:first-child {
  padding-bottom: 40px;
}

.pageMain__footer {
  display:grid;
  grid-template-columns: repeat(2, 1fr);
  font-size: 13px;
  align-items: center;
}

.pageMain__footer--col {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pageMain__footer--col-txt {
  display: flex;
  justify-content: space-between;
  padding-bottom: 5px;
  width: 250px;
}

.signatureBox {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 250px;
  height: 165px;
  border: 1px dashed black;
}


.pageFooter {
  grid-column: 1 / 3;
  grid-row: 2 / 3;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-content: center;
  justify-items: center;

}

.footer__logo {
  grid-column: 2/3;
  display: flex;
  align-items: center;
  padding-left: 20px;
}

.footer_middle {
  padding-top: 5px;
  padding-left: 10px;
  display: flex;
  align-items: center;
  font-size: 14px;
}

.footer_left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 12px;

}

.footer_right {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  padding-top: 5px;
}

/* MARGINS STYLES */
.pageMain, .pageSidebar {margin-top:10px;}