doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel='stylesheet' href='../styles/damageAssessment.css')
    title Preliminary Damage Assessment

  body
    div(class="page")
      div(class="page__header")
        div(class="page__header-title")

          p(class="page__header-title--small") DEPARTMENT OF HOMELAND SECURITY
          p(class="page__header-title--medium") Federal Emergency Management Agency
          h1(class="page__header-title-h1") ADJUSTER'S PRELIMINARY FLOOD DAMAGE ASSESSMENT

        div(class="page__header-info")
          p OMB Control Number: 1660-0005
          p Expiration: 7-31-2020

      div(class="table-grid")

        section(class="row-1")
          div(class="row-1-col-1") 
              p NAME OF ADJUSTER:
              input(type="text" placeholder="Dummy Text")
          div(class="row-1-col-2")
              p DATE OF LOSS:
              input(type="text" placeholder="Dummy Text")
          div(class="row-1-col-3")
              p FICO Number:
              input(type="text" placeholder="Dummy Text")

        section(class="row-2")
          div(class="row-2-col-1") 
            p NAME(S) OF INSURED:
            input(type="text" placeholder="Dummy Text")

          div(class="row-2-col-1")
            p POLICY NUMBER:
            input(type="text" placeholder="Dummy Text")


        section(class="row-3")
          div(class="row-3__r0w-1") 
            p ADDRESS OF INSURED PROPERTY:

          div(class="row-3__row-2") 
            p Street Address:
            input(type="text" placeholder="Dummy Text")

          div(class="row-3__row-3") 
            p City:
            input(type="text" placeholder="Dummy Text")

            p State:
            input(type="text" placeholder="Dummy Text")

            p ZIP Code:
            input(type="text" placeholder="Dummy Text")


        section(class="row-4")
          div(class="row-4__row-1")
            p ESTIMATED MAIN BUILDING REPAIR
            div(class="row-4__row-3-2")
              p COST: $
              input(type="text" placeholder="Dummy Text")

          div(class="row-4__row-2")
            p MAIN BUILDING REPLACEMENT COST
            div(class="row-4__row-3-2")
              p VALUE: $
              input(type="text" placeholder="Dummy Text")

          div(class="row-4__row-3")
            p MAIN BUILDING ACTUAL CASH
            div(class="row-4__row-3-2")
              p VALUE: $
              input(type="text" placeholder="Dummy Text")

        section(class="row-5")
          div(class="row-5__row-1")
            p ESTIMATED DETACHED GARAGE
            div(class="row-5__row-1-2")
              p REPAIR COST: $
              input(type="text" placeholder="Dummy Text")

          div(class="row-5__row-2")
            p DETACHED GARAGE REPLACEMENT
            div(class="row-5__row-1-2")
              p COST VALUE: $
              input(type="text" placeholder="Dummy Text")

          div(class="row-5__row-3")
            p DETACHED GARAGE ACTUAL
            div(class="row-5__row-1-2")
              p CASH VALUE: $
              input(type="text" placeholder="Dummy Text")

        section(class="row-6")
          div(class="row-6__row-1")
            p ESTIMATED CONTENTS REPAIR COST: $
            input(type="text" placeholder="Dummy Text")

          div(class="row-6__row-1")
            p CONTENTS ACTUAL CASH VALUE: $
            input(type="text" placeholder="Dummy Text")

        section(class="row-7")
          div(class="row-7__row-1")
            p ESTIMATED APPURTENANT STRUCTURE CONTENTS
              div(class="row-7__row-2")
                p REPAIR COST: $
                input(type="text" placeholder="Dummy Text")

          div(class="row-7__row-1")
            p APPURTENANT STRUCTURE CONTENTS ACTUAL CASH
              div(class="row-7__row-2")
                p VALUE: $
                input(type="text" placeholder="Dummy Text")


        section(class="row-8")
          div(class="row-8__row-1")
            p NAME(S) OF INSURED:
            input(type="text" placeholder="Dummy Text")

          div(class="row-8__row-1")
            p POLICY NUMBER:
            input(type="text" placeholder="Dummy Text")

        section(class="row-9")
          div(class="row-3__r0w-1") 
            p ADDRESS OF INSURED PROPERTY:

          div(class="row-9__row-2") 
            p Street Address:
            input(type="text" placeholder="Dummy Text")

          div(class="row-9__row-3") 
            p City:
            input(type="text" placeholder="Dummy Text")

            p State:
            input(type="text" placeholder="Dummy Text")

            p ZIP Code:
            input(type="text" placeholder="Dummy Text")
        

        section(class="row-10")
          div(class="row-10__row-1")
            p ESTIMATED MAIN BUILDING REPAIR
            div(class="row-10__row-3-2")
              p COST: $
              input(type="text" placeholder="Dummy Text")

          div(class="row-10__row-2")
            p MAIN BUILDING REPLACEMENT COST
            div(class="row-10__row-3-2")
              p VALUE: $
              input(type="text" placeholder="Dummy Text")

          div(class="row-10__row-3")
            p MAIN BUILDING ACTUAL CASH
            div(class="row-10__row-3-2")
              p VALUE: $
              input(type="text" placeholder="Dummy Text")

        section(class="row-11")
          div(class="row-11__row-1")
            p ESTIMATED DETACHED GARAGE
            div(class="row-11__row-1-2")
              p REPAIR COST: $
              input(type="text" placeholder="Dummy Text")

          div(class="row-11__row-2")
            p DETACHED GARAGE REPLACEMENT
            div(class="row-11__row-1-2")
              p COST VALUE: $
              input(type="text" placeholder="Dummy Text")

          div(class="row-11__row-3")
            p DETACHED GARAGE ACTUAL
            div(class="row-11__row-1-2")
              p CASH VALUE: $
              input(type="text" placeholder="Dummy Text")

        section(class="row-12")
          div(class="row-12__row-1")
            p ESTIMATED CONTENTS REPAIR COST: $
            input(type="text" placeholder="Dummy Text")

          div(class="row-12__row-1")
            p CONTENTS ACTUAL CASH VALUE: $
            input(type="text" placeholder="Dummy Text")


        section(class="row-13")
          div(class="row-13__row-1")
            p ESTIMATED APPURTENANT STRUCTURE CONTENTS
              div(class="row-7__row-2")
                p REPAIR COST: $
                input(type="text" placeholder="Dummy Text")

          div(class="row-13__row-1")
            p APPURTENANT STRUCTURE CONTENTS ACTUAL CASH
              div(class="row-13__row-2")
                p VALUE: $
                input(type="text" placeholder="Dummy Text")


        section(class="row-14")
          div(class="row-14-col-1") 
            p NAME(S) OF INSURED:
            input(type="text" placeholder="Dummy Text")

          div(class="row-14-col-1")
            p POLICY NUMBER:
            input(type="text" placeholder="Dummy Text")

        section(class="row-15")
          div(class="row-15__r0w-1") 
            p ADDRESS OF INSURED PROPERTY:

          div(class="row-15__row-2") 
            p Street Address:
            input(type="text" placeholder="Dummy Text")

          div(class="row-15__row-3") 
            p City:
            input(type="text" placeholder="Dummy Text")

            p State:
            input(type="text" placeholder="Dummy Text")

            p ZIP Code:
            input(type="text" placeholder="Dummy Text")


        section(class="row-16")
          div(class="row-16__row-1")
            p ESTIMATED MAIN BUILDING REPAIR
            div(class="row-16__row-3-2")
              p COST: $
              input(type="text" placeholder="Dummy Text")

          div(class="row-16__row-2")
            p MAIN BUILDING REPLACEMENT COST
            div(class="row-16__row-3-2")
              p VALUE: $
              input(type="text" placeholder="Dummy Text")

          div(class="row-16__row-3")
            p MAIN BUILDING ACTUAL CASH
            div(class="row-16__row-3-2")
              p VALUE: $
              input(type="text" placeholder="Dummy Text")

        section(class="row-17")
          div(class="row-17__row-1")
            p ESTIMATED DETACHED GARAGE
            div(class="row-17__row-1-2")
              p REPAIR COST: $
              input(type="text" placeholder="Dummy Text")

          div(class="row-17__row-2")
            p DETACHED GARAGE REPLACEMENT
            div(class="row-17__row-1-2")
              p COST VALUE: $
              input(type="text" placeholder="Dummy Text")

          div(class="row-17__row-3")
            p DETACHED GARAGE ACTUAL
            div(class="row-17__row-1-2")
              p CASH VALUE: $
              input(type="text" placeholder="Dummy Text")
        
        section(class="row-18")
          div(class="row-18__row-1")
            p ESTIMATED CONTENTS REPAIR COST: $
            input(type="text" placeholder="Dummy Text")

          div(class="row-18__row-1")
            p CONTENTS ACTUAL CASH VALUE: $
            input(type="text" placeholder="Dummy Text")

        section(class="row-19")
          div(class="row-19__row-1")
            p ESTIMATED APPURTENANT STRUCTURE CONTENTS
              div(class="row-19__row-2")
                p REPAIR COST: $
                input(type="text" placeholder="Dummy Text")

          div(class="row-19__row-1")
            p APPURTENANT STRUCTURE CONTENTS ACTUAL CASH
              div(class="row-19__row-2")
                p VALUE: $
                input(type="text" placeholder="Dummy Text")


        section(class="row-20")
          p See Page 2 for Privacy Act Statement and Paperwork Burden Disclosure Notice
