      div(class="pg3_page pg3_table-grid")
        div(class="pg3_paragraph-1")
          p(class="pg3_paragraph__title") PRIVACY ACT STATEMENT
          p 
            | The information requested is necessary to process the subject loss. The authority to collect the information is 42 U.S.C. §§ 4001 to 4130. It is
            | voluntary on your part to furnish the information. However, omission of an item may preclude processing of the form. The Federal Emergency
            | Management Agency will not disclose this information, except to: the servicing agent acting as the Federal Government's fiscal agent; to
            | claims adjusters to enable them to confirm coverage and the location of insured property; to certain Federal, State, and Local Government
            | agencies for determining eligibility for benefits and for verification of agencies for acquisition and relocation-related projects, consistent with
            | the National Flood Insurance Program and consistent with the routine uses described in the program's system of record. Failure by you to
            | provide some or all of the information may result in delay in processing or denial of this claim or application.

        div(class="pg3_paragraph-2")
          p(class="pg3_paragraph__title") PAPERWORK BURDEN DISCLOSURE NOTICE
          p
            | Public reporting burden for the collection of information titled Claims for National Flood Insurance Program (NFIP) is estimated to average 6
            | hours per response. The burden estimate includes the time for reviewing instructions, searching existing data sources, gathering and
            | maintaining the data needed, and completing and submitting these forms. You are not required to respond to this collection of information
            | unless a currently valid OMB control number and expiration date is displayed in the upper right corner of the these forms. Send comments
            | regarding the accuracy of the burden estimate and suggestions for reducing the burden to: Information Collections Management, Department
            | of Homeland Security, Federal Emergency Management Agency, 500 C Street, S.W., Washington, DC 20472, Paperwork Reduction Project
            | (1660-0005). 
            p
              span(class="pg3_bold_text") NOTE: Do not send your completed form to this address.

        div(class="pg3_col pg3_col-lft")
          p FEMA FORM NO.
          p 086-0-06
          p 086-0-07
          p 086-0-08
          p 086-0-09
          p 086-0-10
          p 086-0-11
          p 086-0-12
          p(class="pg3_bold_text") 086-0-13
          p 086-0-14
          p 086-0-15
          p 086-0-16
          p 086-0-17
          p 086-0-18
          p 086-0-19
          p 086-0-20
          p 086-0-21
        
        div(class="pg3_col pg3_col-mid")
          p TITLE
          p Worksheet-Contents-Personal Property
          p Worksheet-Building
          p Worksheet-Building (Continued)
          p Proof of Loss
          p Increased Cost of Compliance
          p Notice of Loss
          p
            span Statement as to Full Cost to Repair or Replacement Cost Coverage,
            span Subject to the Terms and Conditions of this Polic
          p(class="pg3_bold_text") Adjuster's Preliminary Report
          p Adjuster's Final Report
          p National Flood Insurance Program Narrative Report
          p Cause of Loss and Subrogation Report
          p Manufactured (Mobile) Home/Travel Trailer Worksheet
          p Mobile Home/Travel Trailer Worksheet (Continued)
          p Increased Cost of Compliance (ICC) Adjuster Report
          p Adjuster's Preliminary Flood Damage Assessment
          p Adjuster's Certification Application

        div(class="pg3_col pg3_col-rgt")
          p BURDEN HOURS
          p 2.50 Hours
          p 2.50 Hours
          p 1.00 Hours
          p .08 Hours
          p 2.00 Hours
          p .07 Hours
          p .10 Hours
          p(class="pg3_bold_text") .07 Hours
          p .07 Hours
          p .08 Hours
          p 1.00 Hours
          p .50 Hours
          p .25 Hours
          p .42 Hours
          p .25 Hours
          p .25 Hours
          
      div(class="pg3_footer")
        p FEMA FORM 086-0-13 (04/17)
        p Page 3 of 3