:root {
  --bigFont: 12pt;
  --mediumFont: 10pt;
  --smallFont: 8pt;
  --textSizeForm: 9pt;

  --paddingSmall: 5px;
}

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding:0;
}


body { font-family: Arial, Helvetica, sans-serif;}

.inputPlaceholder {
  display: inline-block;
  white-space: nowrap; 
  overflow: hidden;
  text-overflow: ellipsis; 
  margin-left: 5px;
  margin-right: 5px;
  border-bottom: 1px solid black;
  line-height: normal;
}

.hideInputPlaceholder {
  display: inline-block;
  width:auto;
  align-self: end;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 6px;
  border-bottom: 1px solid black;
}

.inputCheckbox {
  display: block;
  height: 10px;
  width: 10px;
  /* background-color:black; */
  margin-left: 5px;
  margin-right: 5px;
  border:1px solid black;
}

.page {
  display: flex;
  flex-direction: column;
  width: 23cm;
  margin: 0 auto;
  line-height: 2.1;
}

.gridBoxHeader {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  justify-items: center;
  line-height: 1;
  padding-bottom: 10px;
}

.gridBoxHeader-col1 {
  grid-column: 1 / 6;
  text-align: center;
}
.gridBoxHeader-col1_headingSmall {
  font-size: var(--mediumFont);
}

.gridBoxHeader-col1__headingNormal {
  font-size: var(--bigFont);
  margin-top:5px;
  margin-bottom: 10px;
}

.gridBoxHeader-col1-headingBold {
  font-size: var(--bigFont);
  font-weight: bold;
}


.gridBoxHeader-col2 {
  grid-column: 7 / 8;
  min-width: max-content;
  font-size: var(--smallFont);
  text-align: right;
  align-self: end;
}

/** HELEPRS */
.bold_text {font-weight: bold;}
.marginTopHelper {margin-top: 20px;}

.text_rotate {
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
}


/** START MARGINS AND TEXT STYLE*/

.gridSecondBox__rightColumn-row1,
.gridFourthBox3__rightColumn-Grid > div,
.gridFourthBox4__rightColumn-Grid > div,
.gridFourthBoxLAST-col-left > div > p:first-child,
.gridFourthBoxLAST-col-left > div:not(:first-child),
.gridFourthBoxLAST-col-right
{
  margin-left: var(--paddingSmall);
}

.gridFourthBox4__rightColumn-Grid > div {
  justify-content: space-between;
  margin-right: 5px;
}

.gridFourthBox4__rightColumn-Grid > div > span {
  display: flex;
  align-items: center;
}


.gridFourthBox3__rightColumn-Grid  > div > span {
  display: flex;
  padding-left: 40px ;
}

.gridFourthBoxLAST-col-right > div:not(:first-child) {
  justify-content: space-between;
  margin-right: 5px;
}

.gridFourthBoxLAST-col-left > div > div > span {
  display: flex;
}

.gridFourthBox2__rightColumn-Grid > div {
  align-items: center;
}

.gridFourthBox2__rightColumn-Grid > div > p:not(:first-child) {
  margin-left: 60px;

}

.gridFirstBox__rightColumn > div,
.gridSecondBox__rightColumn > div:not(:first-child) {
  margin-right: 5px;
  /* background-color: aqua; */
}

.gridThirdBox__row2-leftColumn em {
  line-height: 1.4;
  /* background-color: blueviolet; */
}


.gridFirstBox__leftColumn-row3-col {
  margin-left: 5px;
  margin-right: 5px;
}

.inline-flex > span {
  display: flex;
  align-items: center;
}

.gridFirstBox__leftColumn {padding-left: 5px;}

span[name="buildingInput"]::before,
span[name="photoInput"]::before,
span[name="contentsInput"]::before,
span[name="narrativeInput"]::before
{ content: "( ";}


span[name="buildingInput"]::after,
span[name="photoInput"]::after,
span[name="contentsInput"]::after  
{ content: " )";}

span[name="narrativeInput"]::after { content: " pages)";}

.gridSecondBox__rightColumn,
.gridThirdBox__row2-leftColumn,
.gridThirdBox__middleColumn,
.gridFourthBox__rightColumn {
  border-left: 2px solid black;
}

.gridFirstBox > div,
.gridSecondBox > div,
.gridThirdBox > div {
  padding-top: 10px;
  padding-bottom: 10px;
}

/** END MARGINS AND TEXT STYLE*/


/** FIRST BOX */
.gridFirstBox {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  font-size: var(--textSizeForm);

  border-left:2px solid black;
  border-right:2px solid black;
  border-top:2px solid black;
  border-bottom:2px solid black;
}

.gridFirstBox-paragraph {
  grid-column: 1 / 8;
  text-align: center;
  font-style: italic;

  border-bottom: 2px solid black;
}


/* *LEFT COLUMN ONE */

.gridFirstBox__leftColumn {
  grid-column: 1 / 5;
  grid-row: 2 / 3;

  display: flex;
  flex-direction: column;
  justify-content: center;
}


.gridFirstBox__leftColumn > *,
.gridFirstBox__rightColumn > *
{
  display: flex;
  align-items: center;
}

.gridFirstBox__leftColumn > div p,
.gridFirstBox__rightColumn > div p
{
  white-space: nowrap;
}

.gridFirstBox__leftColumn-row3-col {
  display: flex;
  align-items: center;
}

.gridFirstBox__leftColumn-row3-col:first-child {
  width:60%;
}

.gridFirstBox__leftColumn-row3-col:not(:first-child) {
  flex: 1;
}

.gridFirstBox__leftColumn > div span,
.gridFirstBox__rightColumn > div span {
  display: inline-block;
  width: 100%;
}


/** RIGHT Column*/

.gridFirstBox__rightColumn {
  grid-column: 5 / 8;
  grid-row: 2 / 3;

}

/*** SECOND BOX*/
.gridSecondBox {
  display: grid;
  grid-template-columns: 30px 1fr;
  font-size: var(--textSizeForm);
  border-left: 2px solid black;
  border-right: 2px solid black;
}

.gridSecondBox__leftColumn{
  display: flex;
  justify-content: center;
  align-items: center;
}

.gridSecondBox__rightColumn-row2,
 .gridSecondBox__rightColumn-row3{
  display: flex;
  justify-content: space-between;
  align-content: center;
}

.gridSecondBox__rightColumn-row2 > div,
.gridSecondBox__rightColumn-row3 > div {
  display: flex;
  white-space: nowrap;
}

.gridSecondBox__rightColumn > div > div,
.gridThirdBox__middleColumn-left > div,
.gridThirdBox__rightColumn-left > div,
.gridThirdBox__rightColumn-right > div,
.gridFourthBox__rightColumn-Grid--right > div,
.gridFourthBox__rightColumn-Grid--right > div > div,
.gridFourthBox2__rightColumn-Grid > div > span,
.gridFourthBox3__rightColumn-Grid > div > span,
.gridFourthBoxLAST-col-left > div > span,
.gridFourthBoxLAST-col-left > div > div > span {
  align-items: center;
}

/** THIRD BOX */
.gridThirdBox {
  display: grid;
  grid-template-columns: 30px repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  font-size: var(--textSizeForm);

  border-left: 2px solid black;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  border-right: 2px solid black;
}

.gridThirdBox__leftColumn{
  /* grid-row: 1/ 3; */
  grid-column: 1 / 2 ;
  grid-row: 1 / 3;

  display: flex;
  justify-content: center;
  align-items: center;
}

.gridThirdBox__middleColumn {
  grid-column: 2 / 3;
  grid-row: 1/ 2;
  border-right: 1px solid black;
  border-bottom: 1px solid black;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.gridThirdBox__rightColumn {
  grid-column: 3 / 4;
  grid-row: 1/ 2;
  border-bottom: 1px solid black;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.gridThirdBox__row2-leftColumn {
  grid-column: 2 / 3;
  border-right: 1px solid black;

  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: var(--paddingSmall);
}

.gridThirdBox__row2-rightColumn {
  grid-column: 3 / 4;
  
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  text-align: center;
}

.gridThirdBox__row2-rightColumn > div:first-child {
  padding-left: 5px;
}

.gridThirdBox__row2-rightColumn > div:first-child {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
}

.gridThirdBox__row2-rightColumn > * span {
  display: flex;
  align-items: center;
}


.gridThirdBox__middleColumn-left > div,
.gridThirdBox__middleColumn-right > div,
.gridThirdBox__rightColumn-left > div,
.gridThirdBox__rightColumn-right > div,
.inline-flex
{
  display: flex;
}

.gridThirdBox__middleColumn-left {border-right:1px solid black; padding-left: var(--paddingSmall);}

.gridThirdBox__middleColumn-right,
.gridThirdBox__rightColumn-right {padding-left: var(--paddingSmall);}

.gridThirdBox__rightColumn-left {border-right:1px solid black; padding-left: var(--paddingSmall);}


/** FOURTH ROW */
.gridFourthBox {
  display: grid;
  grid-template-columns: 30px 1fr;
  grid-template-rows: auto;
  font-size: var(--textSizeForm);

  border-left: 2px solid black;
  border-right: 2px solid black;
}

.gridFourthBox__leftColumn {
  grid-column: 1 / 2 ;

  display: flex;
  justify-content: center;
  align-items: center;

  /* transform: rotate(-90deg); */
}

.gridFourthBox__rightColumn {
  grid-column: 2 / 6 ;
  grid-row: 1 / 2;
  display: grid;
}

.gridFourthBox__rightColumn-Grid {
  grid-row: 1 / 2;

  display: grid;
  grid-template-columns: 30% 1fr;
}

.gridFourthBox__rightColumn-Grid--left {
  grid-column: 1 / 2;

  display: flex;
  justify-content: center;
  align-items: center;
}

.gridFourthBox__rightColumn-Grid--right {
  grid-column: 2 / 4;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.gridFourthBox__rightColumn-Grid--right > div,
div.gridFourthBox__rightColumn-Grid--right__FELX,
div.gridFourthBox__rightColumn-Grid--right__FLEX > * {
  display: flex;
}

.gridFourthBox__rightColumn-Grid--right__FLEX > div {
  margin-right:10px;
}

.gridFourthBox__rightColumn-Grid {
  border-bottom: 2px solid black;
}

.gridFourthBox2__rightColumn-Grid {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid black;
}

/* .gridFourthBox2__rightColumn-Grid > * { padding-left: 10px;}  */

.gridFourthBox2__rightColumn-Grid > div,
.gridFourthBox2__rightColumn-Grid > div > span
 {
   padding-left: 10px;
  display: flex;
}

.gridFourthBox3__rightColumn-Grid,
.gridFourthBox4__rightColumn-Grid {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid black;
}

.gridFourthBox3__rightColumn-Grid > div,
.gridFourthBox4__rightColumn-Grid > div
{
  display: flex;
}

.gridFourthBoxLAST__rightColumn-Grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.gridFourthBoxLAST-col-left {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, 1fr);
  border-right:1px solid black
}

.gridFourthBoxLAST-col-left > div,
.gridFourthBoxLAST-col-left > div > *,
.gridFourthBoxLAST-col-right > div,
.gridFourthBoxLAST-col-right > div > div
{
  display: flex;
  align-items: center;
}

.gridThirdBox__middleColumn-right > div > *{
  display: flex;
  align-items: center;

}

.gridFourthBoxLAST-col-left > div:first-child {
  border-bottom: 1px solid black;
}

.gridFourthBoxLAST-col-right > div:nth-child(2){
  align-items: center;
}

.gridFourthBoxLAST-col-right > div > div {
  align-items: center;
}

.gridFourthBoxLAST-col-right {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, 1fr);
}

.footer {
  font-size: var(--textSizeForm);
  text-align: center;
  padding: 10px 0;
  border-top: 2px solid black;
  border-left: 2px solid black;
  border-right: 2px solid black;
  border-bottom: 2px solid black;
}

.footer-page {
  display: flex;
  justify-content: space-between;
  font-size: var(--textSizeForm);
}