doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="../css/CPARequest.css")
    title CPA Req
  
  body
    div(class="pageBody")
      aside(class="pageSidebar")
        div(class="pageSidebar__top")
          div(class="pageSidebar__top--title")
            span(name="addCoName") Add Company Name State
          div()
            p(class="sidebarTitle") Insured
            span Jean Luc Picard
          div(class="")
            p(class="sidebarTitle") Policy
            span Add Policy Number

          div(class="")
            p(class="sidebarTitle") Date of loss:
            span Add Loss Date State
          div(class="")
            p(class="sidebarTitle") Loss address:
            span 1701 Enterprise Way, Mobile, 36606 

        div(class="pageSidebar__middle")
          div()
            p(class="sidebarTitle") Adjuster:
            span Add Adjuster Name

          div()
            p(class="sidebarTitle") Work:
            span Work Number

          div()
            p(class="sidebarTitle") Mobile:
            span Mobile Number
          
          div()
            p(class="sidebarTitle") Adjuster FCN:
            span Number

        div(class="pageSidebar__bottom")
          div(class="pageSidebar__bottom-title") 
            p(class="pageSidebar__bottom-title-main") CNC 
            p Catastrophe & National Claims
          div
            span 2928 McVay Dr. North
          div
            span 021242 212341
          div
            span AL 36606 251-471-4718, ext. 5
          div
            span claims@cnc­resource.com
          div
            span adjustingexpectations.com


      main(class="pageMain")
        section(class="pageMain__header")
          div(class="pageMain__header--tile")
            p CPA Request

        section(class="pageMain__subHeader")
          div
            p(class="bold_text") For access to the Loss Address to the left contact: 
            span Jean Luc Picard 
          div
            span(class="bold_text") Home: 
            span 123-455-6789 
          div 
            span(class="bold_text") Work:
            span 24124 324
          div
            span(class="bold_text") Email: 
            span picard@starfleet.com 
          span Please determine the extent that contents or other specified items were damaged by flooding. Report the following details, along with any other relevant information: 

        section(class="pageMain__text")
          p 1.	Describe your contact with the policyholder and the subsequent investigation.
          p 2.	What portion of the loss may have been pre-existing and to what extent was the loss effected by this?
          p 3.	What portion of the loss may have been caused by other perils such as wind, fire, or improper handling / drying / mitigation?
          p 4.	What portion may be due to defective materials, construction, design, installation or maintenance?
          p 5.	To what extent were the contents or other specified items damaged by flooding?
          p 6.	List the age, condition, and actual cash value of each item at the time of flooding.
          p 7.	Damaged Inventory Summary and supporting documentation of any replacement pricing.
          p 8.	Total replacement cost and actual cash value of loss.
          p 9.	Please inspect and consider only those contents/items/inventory in this building (when multiple buildings exist at the same location or property) as coverage under the policy may only be limited to the same. Please briefly address contents/items/inventory that may exist in other buildings. Do not include this in final calculations or allowances.
        
        section(class="pageMain__footer")
          p(class="pageMain__footer-title bold_text") Additional instructions or other information below:
          span TEXT TEXT

      footer(class="pageFooter")
        div(class="footer__logo")