doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="../css/EngineersRequest.css")
    title Engineer's Request
  
  body
    div(class="pageBody")
      aside(class="pageSidebar")
        div(class="pageSidebar__top")
          div(class="pageSidebar__top--title")
            span(name="addCoName") Add Company Name State
          div()
            p(class="sidebarTitle") Insured
            span Jean Luc Picard
          div(class="")
            p(class="sidebarTitle") Policy
            span Add Policy Number

          div(class="")
            p(class="sidebarTitle") Date of loss:
            span Add Loss Date State
          div(class="")
            p(class="sidebarTitle") Loss address:
            span 1701 Enterprise Way, Mobile, 36606 

        div(class="pageSidebar__middle")
          div()
            p(class="sidebarTitle") Adjuster:
            span Add Adjuster Name

          div()
            p(class="sidebarTitle") Work:
            span Work Number

          div()
            p(class="sidebarTitle") Mobile:
            span Mobile Number
          
          div()
            p(class="sidebarTitle") Adjuster FCN:
            span Number

        div(class="pageSidebar__bottom")
          div(class="pageSidebar__bottom-title") 
            p(class="pageSidebar__bottom-title-main") CNC 
            p Catastrophe & National Claims
          div
            span 2928 McVay Dr. North
          div
            span 021242 212341
          div
            span AL 36606 251-471-4718, ext. 5
          div
            span claims@cnc­resource.com
          div
            span adjustingexpectations.com


      main(class="pageMain")
        section(class="pageMain__header")
          div(class="pageMain__header--tile")
            p Engineer's Request

        section(class="pageMain__subHeader")
          div
            p(class="bold_text") For access to the Loss Address contact: 
            span Jean Luc Picard 
          div
            span(class="bold_text") Home: 
            span 123-455-6789 
          div 
            span(class="bold_text") Work:
            span 24124 324
          div
            span(class="bold_text") Email: 
            span picard@starfleet.com 

        ol(class="pageMain__adjuster")
          div(class="bold_text") Adjuster
          div
            li Describe conditions observed during inspection. Attach supporting photo:
            span Provided answer

          div
            li Report on any specific concerns raised by the insure, but not immediately verifiable during adjuster's inspection:
            span Provided answer

        ul(class="pageMain__engineer")
          div(class="bold_text") Engineer:
          div Please inspect and report findings as agreed with the hiring WYO. Include license and state seal validations. Specifically, we request the following: 

          li Identify cause and origin of any conditions or damages associated with the foundation or structural elements.
          li Speak specifically to all conditions reported by the adjuster and/or the policyholder.
          li If more than one peril contributed to the conditions observed, address in detail.
          li Provide scientifically based conclusions with supporting documentation, such as but not limited to sketches, weather data, surge data, soils data, construction documents , photos, measurements or other information relevant to the conclusions drawn.





      footer(class="pageFooter")
        div(class="footer__logo")