doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="../css/FloodLossQuestionnaire.css")
    title Flood Loss
  
  body
    div(class="pageBody")
      aside(class="pageSidebar")
        div(class="pageSidebar__top")
          div(class="pageSidebar__top--title")
            span(name="addCoName") Add Company Name State
          div()
            p(class="sidebarTitle") Insured
            span Jean Luc Picard
          div(class="")
            p(class="sidebarTitle") Policy
            span Add Policy Number

          div(class="")
            p(class="sidebarTitle") Date of loss:
            span Add Loss Date State
          div(class="")
            p(class="sidebarTitle") Loss address:
            span 1701 Enterprise Way, Mobile, 36606 

        div(class="pageSidebar__middle")
          div()
            p(class="sidebarTitle") Adjuster:
            span Add Adjuster Name

          div()
            p(class="sidebarTitle") Work:
            span Work Number

          div()
            p(class="sidebarTitle") Mobile:
            span Mobile Number
          
          div()
            p(class="sidebarTitle") Adjuster FCN:
            span Number

        div(class="pageSidebar__bottom")
          div(class="pageSidebar__bottom-title") 
            p(class="pageSidebar__bottom-title-main") CNC 
            p Catastrophe & National Claims
          div
            span 2928 McVay Dr. North
          div
            span 021242 212341
          div
            span AL 36606 251-471-4718, ext. 5
          div
            span claims@cnc­resource.com
          div
            span adjustingexpectations.com


      main(class="pageMain")
        section(class="pageMain__header")
          div(class="pageMain__header--tile")
            p Flood Loss Questionnaire 
 
        ol(class="pageMain__text")
          div
            li What month and year was the building constructed?
            span 12/31/1969

          div
            li What month and year was the risk purchased?
            span 12/31/1969

          div
            li Do you own the building?
            span No
            
          div
            li Is this your Seasonal Residence or Condo Unit?
            span Seasonal Residence

          div
            li If this is a rental property and has contents coverage, do you own all of the contents?
            span No

          div
            li Since you have owned the property, have you completed any major improvements? If yes, please explain.
            span N/A

          div
            li If Mortgage paid off, give year paid off (Please provide Pay Off Letter from Mortgagee. If pay off documents are not received and/or if you have not provided the most current mortgage , the current mortgage as listed above will be included on your building payment check.):
            span TEXT

          div
            li Date and Time water entered your building?
            span 3/1/2021

          div
            li Date and Time water receded your building?
            span 3/1/2021
          
          div
            li The floodwaters that came in were:
            span TEXT

          div
            li Nearest body of water?
            span  TEXT

          div
            li Body of water total distance from risk?
            span 10.00

          div
            li Name of other insurance
            span No Other Insurance

          div
            li Do you have excess flood coverage for building?
            span N/A

          div
            li Do you have excess flood coverage for contents?
            span N/A

          div
            li Has your building suffered any prior losses from flood?
            span No Prior Losses

          div
            li Are you using a general contractor?
            span No

          div
            li The policy is currently listed under the name of:
            span Jean Luc Picard

      footer(class="pageFooter")
        div(class="footer__logo")