doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Preliminary Photos
  
  style.

    :root {
    --fsS: 10px;
    --fsM: 14px;
    --fsL: 18px;
    --fsCost: 22px;
    --fsXL: 25px;
    --colorAsidePrimary: #1a0dab;
    --colorAsideSecond: #609;
    --colorText: #4d5156;

    }


    *, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding:0;
    }


    body {
    font-family: Arial, Helvetica, sans-serif;
    }

    .pageBody {
    display: grid;
    grid-template-columns: 30% 1fr;
    grid-template-rows: 1fr 10%;

    width: 21cm;
    height: 29.7cm;
    margin: 0 auto;
    margin-top: 0.5cm;
    margin-bottom: 1cm;
    border: 2px solid black;
    }

    .pageSidebar {
    grid-column: 1/2;
    grid-row:1/2;

    display:grid;
    grid-template-rows: repeat(3,1fr);
    text-align: left;
    font-size:12px;
    padding-right:20px;
    padding-left:10px;
    font-family: Arial, Helvetica, sans-serif;
    }

    .pageSidebar__top {
    grid-row: 1/2;

    display: grid;
    grid-template-rows:auto;
    }

    .pageSidebar__top--title {
    display: flex;
    align-items: center;
    font-size: 16px;
    font-weight: bold;
    }


    .pageSidebar__middle {
    grid-row:2/3;

    display: grid;
    grid-template-rows: auto;

    }

    .pageSidebar__bottom {
    grid-row: 3/4;

    display: grid;
    grid-template-rows:auto;
    text-align: center;
    font-size: 12px;
    }



    .pageSidebar__bottom-title {
    display:flex;
    flex-direction: column;
    background-color: var(--colorAsidePrimary);
    color: white;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 14px;
    margin-bottom: 30px;
    }

    .pageSidebar__bottom-title-main {
    font-size: 20px;
    font-weight: bold;
    }

    .sidebarTitle {
    font-size:12px;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: underline;
    padding-bottom: 5px;
    }

    .pageMain {
    grid-column: 2/3;
    grid-row: 1/2;
    display: grid;
    grid-template-rows: 51.55px 1fr;
    margin-right: 10px;
    }

    .pageMain__header {
    display: flex;
    font-size: var(--fsXL);
    font-weight: bold;
    text-align: center;
    align-items: center;
    justify-content: center;
    }

    .pageMain__header--tile p::first-letter {
    font-size: 30px;
    }

    .pageMain__gallery {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    gap: 10px;
    }

    .pageMain__gallery-top {
    display: grid;
    grid-template-columns: max-content 1fr;
    background-color: palegoldenrod;
    }

    .pageMain__gallery-middle {
    display: grid;
    grid-template-columns: max-content 1fr;
    background-color: paleturquoise;
    }

    .pageMain__gallery-bottom {
    display: grid;
    grid-template-columns: max-content 1fr;
    background-color: palevioletred;
    }

    .footer__logo {
    grid-column: 2/3;
    display: flex;
    background-image: url(../../assets/imgs/logo.png);
    background-repeat: no-repeat;
    background-size: 80%, contain;
    background-position: center;
    }

    .pageFooter {
    grid-column: 1 / 3;
    grid-row: 2 / 3;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    }

    /* MARGINS STYLES */
    .pageMain, .pageSidebar {margin-top:50px;}

    .bold_text {
    font-weight: bold;
    }
  
  body
    div(class="pageBody")
      aside(class="pageSidebar")
        div(class="pageSidebar__top")
          div(class="pageSidebar__top--title")
            span(name="addCoName") Add Company Name State
          div()
            p(class="sidebarTitle") Insured
            span Jean Luc Picard
          div(class="")
            p(class="sidebarTitle") Policy
            span Add Policy Number

          div(class="")
            p(class="sidebarTitle") Date of loss:
            span Add Loss Date State
          div(class="")
            p(class="sidebarTitle") Loss address:
            span 1701 Enterprise Way, Mobile, 36606 

        div(class="pageSidebar__middle")
          div()
            p(class="sidebarTitle") Adjuster:
            span Add Adjuster Name

          div()
            p(class="sidebarTitle") Work:
            span Work Number

          div()
            p(class="sidebarTitle") Mobile:
            span Mobile Number
          
          div()
            p(class="sidebarTitle") Adjuster FCN:
            span Number

        div(class="pageSidebar__bottom")
          div(class="pageSidebar__bottom-title") 
            p(class="pageSidebar__bottom-title-main") CNC 
            p Catastrophe & National Claims
          div
            span 2928 McVay Dr. North
          div
            span 021242 212341
          div
            span AL 36606 251-471-4718, ext. 5
          div
            span claims@cnc­resource.com
          div
            span adjustingexpectations.com


      main(class="pageMain")
        section(class="pageMain__header")
          div(class="pageMain__header--tile")
            p Preliminary Photos
        
        section(class="pageMain__gallery")
          div(class="pageMain__gallery-top")
            div
              span(class="bold_text") Exterior: 
              span Mailbox

          div(class="pageMain__gallery-middle")
            div
              span(class="bold_text") Exterior: 
              span House Address

          div(class="pageMain__gallery-bottom")
            div
              span(class="bold_text") Exterior: 
              span House Address

      footer(class="pageFooter")
        div(class="footer__logo")

    div(class="pageBody")
      aside(class="pageSidebar")
        div(class="pageSidebar__top")
          div(class="pageSidebar__top--title")
            span(name="addCoName") Add Company Name State
          div()
            p(class="sidebarTitle") Insured
            span Jean Luc Picard
          div(class="")
            p(class="sidebarTitle") Policy
            span Add Policy Number

          div(class="")
            p(class="sidebarTitle") Date of loss:
            span Add Loss Date State
          div(class="")
            p(class="sidebarTitle") Loss address:
            span 1701 Enterprise Way, Mobile, 36606 

        div(class="pageSidebar__middle")
          div()
            p(class="sidebarTitle") Adjuster:
            span Add Adjuster Name

          div()
            p(class="sidebarTitle") Work:
            span Work Number

          div()
            p(class="sidebarTitle") Mobile:
            span Mobile Number
          
          div()
            p(class="sidebarTitle") Adjuster FCN:
            span Number

        div(class="pageSidebar__bottom")
          div(class="pageSidebar__bottom-title") 
            p(class="pageSidebar__bottom-title-main") CNC 
            p Catastrophe & National Claims
          div
            span 2928 McVay Dr. North
          div
            span 021242 212341
          div
            span AL 36606 251-471-4718, ext. 5
          div
            span claims@cnc­resource.com
          div
            span adjustingexpectations.com


      main(class="pageMain")
        section(class="pageMain__header")
          div(class="pageMain__header--tile")
            p Preliminary Photos
        
        section(class="pageMain__gallery")
          div(class="pageMain__gallery-top")
            div
              span(class="bold_text") Exterior: 
              span Mailbox

          div(class="pageMain__gallery-middle")
            div
              span(class="bold_text") Exterior: 
              span House Address

          div(class="pageMain__gallery-bottom")
            div
              span(class="bold_text") Exterior: 
              span House Address

      footer(class="pageFooter")
        div(class="footer__logo")
