:root {
--fsS: 10px;
--fsM: 14px;
--fsL: 18px;
--fsCost: 22px;
--fsXL: 25px;
}


*, *::before, *::after {
box-sizing: border-box;
margin: 0;
padding:0;
}


body {
font-family: Arial, Helvetica, sans-serif;
}

.pageBody {
display: grid;
grid-template-columns: 30% 1fr;
grid-template-rows: 1fr 10%;

width: 21cm;
height: 29.7cm;
margin: 0 auto;
margin-top: 0.5cm;
margin-bottom: 1cm;
}

.pageSidebar {
grid-column: 1/2;
grid-row:1/2;

display:grid;
grid-template-rows: repeat(6,1fr);
text-align: left;
font-size:12px;
padding-right:20px;
padding-left:10px;
}

.pageSidebar__top {
grid-row: 1/5;
display: grid;
gap:10px;
grid-template-rows:auto;
padding-top:93px;
}

.pageSidebar__top > div {
display: flex;
flex-direction: column;
}

.pageSidebar__top--title {
display: flex;
align-items: center;
font-size: 16px;
font-weight: bold;
padding-bottom: 30px;
}

span[name="addCoName"] {
padding-left: 5px;
border-left: 3px solid black;
}

.sidebarTitle {
font-size:14px;
font-weight: bold;
text-transform: uppercase;
padding-bottom: 5px;
}

.pageMain {
grid-column: 2/3;
grid-row: 1/2;
display: grid;
grid-template-rows: 51.55px repeat(3, max-content);
margin-right: 10px;
}

.pageMain__header {
display: flex;
font-size: var(--fsXL);
font-weight: bold;
text-align: center;
align-items: center;
justify-content: center;
}

.pageMain__header--tile p::first-letter {
font-size: 30px;
}

.pageMain__subHeader {
display: flex;
flex-direction: column;
justify-content: center;
padding-top:40px;
font-size:14px;

}

.pageMain__subHeader > div {
padding-bottom: 5px;
}

.pageMain__adjuster {
display: flex;
flex-direction: column;
justify-content: center;
font-size: 13px;
}

.pageMain__engineer {font-size:13px}


.pageMain__adjuster {padding: 25px 0;}

.pageMain__adjuster > div, .pageMain__engineer > * {padding-bottom: 5px;}

ol li {
list-style: decimal;
list-style-position: inside;
}

ul li {
list-style: disc;
list-style-position: inside;
}

ol li::marker {
font-weight: bold;
}

.pageFooter {
grid-column: 1 / 3;
grid-row: 2 / 3;
display: grid;
grid-template-columns: repeat(3, 1fr);
align-content: center;
justify-items: center;

}

.footer__logo {
grid-column: 2/3;
display: flex;
align-items: center;
padding-left: 20px;
}

.footer_middle {
padding-top: 5px;
padding-left: 10px;
display: flex;
align-items: center;
font-size: 14px;
}

.footer_left {
display: flex;
flex-direction: column;
justify-content: center;
font-size: 12px;

}

.footer_right {
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
font-size: 12px;
padding-top: 5px;
}

/* MARGINS STYLES */
.pageMain, .pageSidebar {margin-top:10px;}

.bold_text {
font-weight: bold;
}